[DEFAULT]
# A local directory used to store git checkouts
git_dir = .bonnyci_git

# How long to wait for jobs to run and report status
pr_status_timeout = 120

# The names of the expected check and gate jobs
check_job = bonnyci-run-check
gate_job = bonnyci-run-gate

# The creator and contexts expected to be reported for each pipeline
bot_name = bonnyci[bot]
check_context = check_github
gate_context = gate_github

[github_connection_upstream]
api_token = %%UPSTREAM_API_TOKEN%%
org = BonnyCI
repo = testing-repo

[github_connection_downstream]
api_token = %%DOWNSTREAM_API_TOKEN%%
org = BobbyBoatswain
repo = testing-repo
ssh_key= ~/.ssh/id_rsa
